<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>https://b3ef02b52a0a4e79a171f23f59c7e0c3:ba51ad7b6ce445ee8a5d457503dcdd7c@sentry.io/124204?options</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <!-- Optional, allows to select the ravenFactory -->
        <!--<ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>-->
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss}  %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="Sentry"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>