<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<property resource="properties/logback-variables.properties" />   -->
    <!-- 得到APP_NAME log_path的值 -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
        <!--<destination>123.57.230.238:5000</destination>-->

        <!--&lt;!&ndash; encoder is required &ndash;&gt;-->
        <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />-->
    <!--</appender>-->

    <!--<appender name="async" class="ch.qos.logback.classic.AsyncAppender">-->
    <!--<appender-ref ref="stash" />-->
    <!--</appender>-->


    <root level="info">                    <!-- 设置日志级别 -->
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="stash" />-->
    </root>
</configuration>