<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.dbs.module.content.mapper.BasicContentMapper" >
  <resultMap id="BaseResultMap" type="BasicContent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="admin_description" property="adminDescription" jdbcType="VARCHAR" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="REAL" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="play_priority" property="playPriority" jdbcType="INTEGER" />
    <result column="difficulty_degree" property="difficultyDegree" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="save_path" property="savePath" jdbcType="VARCHAR" />
    <result column="fs_type" property="fsType" jdbcType="INTEGER" />
    <result column="chapter_num" property="chapterNum" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="shelve_on_time" property="shelveOnTime" jdbcType="TIMESTAMP" />
    <result column="shelve_off_time" property="shelveOffTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="expire_reason" property="expireReason" jdbcType="VARCHAR" />
    <result column="expire_user_id" property="expireUserId" jdbcType="BIGINT" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin_description, gid, title, source, duration, role_id, keyword, play_priority, 
    difficulty_degree, description, tag, save_path, fs_type, chapter_num, article_id, 
    shelve_on_time, shelve_off_time, create_user_id, update_user_id, create_time, expire_time, 
    expire_reason, expire_user_id, del_status
  </sql>
  
  <!-- 根据id查询基本内容 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_content_basic_content
    where id = #{id,jdbcType=BIGINT}
    and del_status=0
  </select>
  
    <!-- 根据id查询基本内容 -->
    <select id="selectByGid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_content_basic_content
    where gid = #{gid}
    and del_status=0
  </select>
  
      <!-- 根据文章id查询基本内容 -->
    <select id="selectByArticleId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_content_basic_content
    where article_id = #{articleId}
    and del_status=0
  </select>
  <select id="selectLastChapterByCgroup" resultType="int" parameterType="java.lang.Long" >
    select chapter_num  from zhiyin_content_basic_content
    where article_id = #{cgroupId}
    and del_status=0
    order by chapter_num DESC limit 1
  </select>

  <select id="selectBySavePath" resultType="int" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from zhiyin_content_basic_content
    where save_path = #{savePath}
    and del_status=0
  </select>

  <update id="deleteByCgroupId"  parameterType="java.lang.Long" >
    update zhiyin_content_basic_content
    set del_status = 1
    where article_id = #{cgroupId}
  </update>

  <delete id="deleteRealByCgroupId"  parameterType="java.lang.Long" >
      delete from zhiyin_content_basic_content
      where article_id = #{cgroupId}
  </delete>

        <!-- 根据文章id查询gid -->
    <select id="selectGidByArticleId" resultType="int" parameterType="java.lang.Long" >
    select 
    gid 
    from zhiyin_content_basic_content
    where article_id = #{articleId}
    and del_status=0
  </select>
  
  
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_content_basic_content
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zhiyin_content_basic_content
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="BasicContent" >
    insert into zhiyin_content_basic_content (id, admin_description, gid, 
      title, source, duration, 
      role_id, keyword, play_priority, 
      difficulty_degree, description, tag, 
      save_path, fs_type, chapter_num, 
      article_id, shelve_on_time, shelve_off_time, 
      create_user_id, update_user_id, create_time, 
      expire_time, expire_reason, expire_user_id, 
      del_status)
    values (#{id,jdbcType=BIGINT}, #{adminDescription,jdbcType=VARCHAR}, #{gid,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{source,jdbcType=INTEGER}, #{duration,jdbcType=REAL}, 
      #{roleId,jdbcType=BIGINT}, #{keyword,jdbcType=VARCHAR}, #{playPriority,jdbcType=INTEGER}, 
      #{difficultyDegree,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{savePath,jdbcType=VARCHAR}, #{fsType,jdbcType=INTEGER}, #{chapterNum,jdbcType=INTEGER}, 
      #{articleId,jdbcType=BIGINT}, #{shelveOnTime,jdbcType=TIMESTAMP}, #{shelveOffTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=BIGINT}, #{updateUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{expireReason,jdbcType=VARCHAR}, #{expireUserId,jdbcType=BIGINT}, 
      #{delStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="BasicContent" >
    insert into zhiyin_content_basic_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminDescription != null" >
        admin_description,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="playPriority != null" >
        play_priority,
      </if>
      <if test="difficultyDegree != null" >
        difficulty_degree,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="savePath != null" >
        save_path,
      </if>
      <if test="fsType != null" >
        fs_type,
      </if>
      <if test="chapterNum != null" >
        chapter_num,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="shelveOnTime != null" >
        shelve_on_time,
      </if>
      <if test="shelveOffTime != null" >
        shelve_off_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="expireReason != null" >
        expire_reason,
      </if>
      <if test="expireUserId != null" >
        expire_user_id,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="adminDescription != null" >
        #{adminDescription,jdbcType=VARCHAR},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=REAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="playPriority != null" >
        #{playPriority,jdbcType=INTEGER},
      </if>
      <if test="difficultyDegree != null" >
        #{difficultyDegree,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="savePath != null" >
        #{savePath,jdbcType=VARCHAR},
      </if>
      <if test="fsType != null" >
        #{fsType,jdbcType=INTEGER},
      </if>
      <if test="chapterNum != null" >
        #{chapterNum,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="shelveOnTime != null" >
        #{shelveOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelveOffTime != null" >
        #{shelveOffTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireReason != null" >
        #{expireReason,jdbcType=VARCHAR},
      </if>
      <if test="expireUserId != null" >
        #{expireUserId,jdbcType=BIGINT},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="BasicContent" >
    update zhiyin_content_basic_content
    <set >
      <if test="adminDescription != null" >
        admin_description = #{adminDescription,jdbcType=VARCHAR},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=REAL},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="playPriority != null" >
        play_priority = #{playPriority,jdbcType=INTEGER},
      </if>
      <if test="difficultyDegree != null" >
        difficulty_degree = #{difficultyDegree,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="savePath != null" >
        save_path = #{savePath,jdbcType=VARCHAR},
      </if>
      <if test="fsType != null" >
        fs_type = #{fsType,jdbcType=INTEGER},
      </if>
      <if test="chapterNum != null" >
        chapter_num = #{chapterNum,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="shelveOnTime != null" >
        shelve_on_time = #{shelveOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelveOffTime != null" >
        shelve_off_time = #{shelveOffTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireReason != null" >
        expire_reason = #{expireReason,jdbcType=VARCHAR},
      </if>
      <if test="expireUserId != null" >
        expire_user_id = #{expireUserId,jdbcType=BIGINT},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="BasicContent" >
    update zhiyin_content_basic_content
    set admin_description = #{adminDescription,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      duration = #{duration,jdbcType=REAL},
      role_id = #{roleId,jdbcType=BIGINT},
      keyword = #{keyword,jdbcType=VARCHAR},
      play_priority = #{playPriority,jdbcType=INTEGER},
      difficulty_degree = #{difficultyDegree,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      save_path = #{savePath,jdbcType=VARCHAR},
      fs_type = #{fsType,jdbcType=INTEGER},
      chapter_num = #{chapterNum,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=BIGINT},
      shelve_on_time = #{shelveOnTime,jdbcType=TIMESTAMP},
      shelve_off_time = #{shelveOffTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      expire_reason = #{expireReason,jdbcType=VARCHAR},
      expire_user_id = #{expireUserId,jdbcType=BIGINT},
      del_status = #{delStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>