<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.dbs.module.content.mapper.TrancheContentListMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyin.dbs.module.content.entity.TrancheContentList" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cgroup_id" property="cgroupId" jdbcType="BIGINT" />
    <result column="config_level" property="configLevel" jdbcType="INTEGER" />
    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="add_user_id" property="addUserId" jdbcType="BIGINT" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="phase_no" property="phaseNo" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cgroup_id, config_level, sort_no, create_time, update_time, add_user_id, update_user_id, 
    del_status, phase_no, role_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_content_tranche_content_list
    where id = #{id,jdbcType=BIGINT}
    and del_status = 0
  </select>

  <select id="selectByPhase" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from zhiyin_content_tranche_content_list
    where config_level=#{configLevel}
    AND role_id = #{roleId}
    AND phase_no = #{phaseNo}
    and del_status=0
  </select>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zhiyin_content_tranche_content_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhiyin.dbs.module.content.entity.TrancheContentList" >
    insert into zhiyin_content_tranche_content_list (id, cgroup_id, config_level, 
      sort_no, create_time, update_time, 
      add_user_id, update_user_id, del_status, 
      phase_no, role_id)
    values (#{id,jdbcType=BIGINT}, #{cgroupId,jdbcType=BIGINT}, #{configLevel,jdbcType=INTEGER}, 
      #{sortNo,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{addUserId,jdbcType=BIGINT}, #{updateUserId,jdbcType=BIGINT}, #{delStatus,jdbcType=INTEGER}, 
      #{phaseNo,jdbcType=INTEGER}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyin.dbs.module.content.entity.TrancheContentList" >
    insert into zhiyin_content_tranche_content_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cgroupId != null" >
        cgroup_id,
      </if>
      <if test="configLevel != null" >
        config_level,
      </if>
      <if test="sortNo != null" >
        sort_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="addUserId != null" >
        add_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="phaseNo != null" >
        phase_no,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cgroupId != null" >
        #{cgroupId,jdbcType=BIGINT},
      </if>
      <if test="configLevel != null" >
        #{configLevel,jdbcType=INTEGER},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="phaseNo != null" >
        #{phaseNo,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyin.dbs.module.content.entity.TrancheContentList" >
    update zhiyin_content_tranche_content_list
    <set >
      <if test="cgroupId != null" >
        cgroup_id = #{cgroupId,jdbcType=BIGINT},
      </if>
      <if test="configLevel != null" >
        config_level = #{configLevel,jdbcType=INTEGER},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        add_user_id = #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="phaseNo != null" >
        phase_no = #{phaseNo,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyin.dbs.module.content.entity.TrancheContentList" >
    update zhiyin_content_tranche_content_list
    set cgroup_id = #{cgroupId,jdbcType=BIGINT},
      config_level = #{configLevel,jdbcType=INTEGER},
      sort_no = #{sortNo,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      add_user_id = #{addUserId,jdbcType=BIGINT},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      del_status = #{delStatus,jdbcType=INTEGER},
      phase_no = #{phaseNo,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>