<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.ad.mapper.AudioBoardMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyin.ad.entity.AudioBoard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="addr_ids" property="addrIds" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="shelf_on_time" property="shelfOnTime" jdbcType="TIMESTAMP" />
    <result column="shelf_off_time" property="shelfOffTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="shelf_status" property="shelfStatus" jdbcType="INTEGER" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, addr_ids, title, shelf_on_time, shelf_off_time, create_time, update_time, 
    shelf_status, del_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zy_ad_audio_board
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zy_ad_audio_board
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhiyin.ad.entity.AudioBoard" >
    insert into zy_ad_audio_board (id, company_id, addr_ids, 
      title, shelf_on_time, shelf_off_time, 
      create_time, update_time, shelf_status, 
      del_status)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{addrIds,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{shelfOnTime,jdbcType=TIMESTAMP}, #{shelfOffTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{shelfStatus,jdbcType=INTEGER}, 
      #{delStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyin.ad.entity.AudioBoard" >
    insert into zy_ad_audio_board
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="addrIds != null" >
        addr_ids,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="shelfOnTime != null" >
        shelf_on_time,
      </if>
      <if test="shelfOffTime != null" >
        shelf_off_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="shelfStatus != null" >
        shelf_status,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="addrIds != null" >
        #{addrIds,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="shelfOnTime != null" >
        #{shelfOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfOffTime != null" >
        #{shelfOffTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfStatus != null" >
        #{shelfStatus,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyin.ad.entity.AudioBoard" >
    update zy_ad_audio_board
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="addrIds != null" >
        addr_ids = #{addrIds,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="shelfOnTime != null" >
        shelf_on_time = #{shelfOnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfOffTime != null" >
        shelf_off_time = #{shelfOffTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelfStatus != null" >
        shelf_status = #{shelfStatus,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyin.ad.entity.AudioBoard" >
    update zy_ad_audio_board
    set company_id = #{companyId,jdbcType=BIGINT},
      addr_ids = #{addrIds,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      shelf_on_time = #{shelfOnTime,jdbcType=TIMESTAMP},
      shelf_off_time = #{shelfOffTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      shelf_status = #{shelfStatus,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>