<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %level{5} %c{3} - %message%n</pattern>
        </encoder>
    </appender>
    <!---->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/log/elk-file.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/elk-file.log.%d{yyyyMMdd}-%i
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>256MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %level{5} %c{3} - %message%n</pattern>
        </encoder>
    </appender>

    <!-- Methode 2 -->
    <appender name="JSON" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>log.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerInfo>true</includeCallerInfo>
        </encoder>
    </appender>
    <!-- Methode 3 -->
    <appender name="TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>123.57.230.238:5000</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <root level="INFO">
        <!--<appender-ref ref="CONSOLE" />-->
        <!-- Methode 1-->
        <!--<appender-ref ref="FILE" />-->
        <!-- Methode 2 -->
        <appender-ref ref="JSON" />
        <!-- Methode 3-->
        <appender-ref ref="TCP" />
    </root>
    <logger name="org.springframework" level="INFO"/>
</configuration>