<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.ourchat.mapper.DialogRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyin.ourchat.entity.DialogRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sender" property="sender" jdbcType="BIGINT" />
    <result column="receiver" property="receiver" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sender, receiver, user_id, partner_id, content, send_time, is_read, create_time, 
    update_time, del_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zy_ourchat_dialog_record
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="selectByPartner" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from zy_ourchat_dialog_record
    where user_id = #{userId,jdbcType=BIGINT}
    AND  partner_id =  #{partnerId,jdbcType=BIGINT}
    AND del_status = 0
    order by create_time desc
  </select>



  <update id="deleteByIdOwner" parameterType="java.util.Map" >
    update zy_ourchat_dialog_record set del_status = 1 where id =#{id} and user_id = #{userId}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zy_ourchat_dialog_record
    where id = #{id,jdbcType=BIGINT}
  </delete>



  <delete id="deleteByUid" parameterType="java.lang.Long" >
    delete from zy_ourchat_dialog_record
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>


  <insert id="insert" parameterType="com.zhiyin.ourchat.entity.DialogRecord" >
    insert into zy_ourchat_dialog_record (id, sender, receiver, 
      user_id, partner_id, content, 
      send_time, is_read, create_time, 
      update_time, del_status)
    values (#{id,jdbcType=BIGINT}, #{sender,jdbcType=BIGINT}, #{receiver,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT}, #{partnerId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{isRead,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyin.ourchat.entity.DialogRecord" >
    insert into zy_ourchat_dialog_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="partnerId != null" >
        partner_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=BIGINT},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="partnerId != null" >
        #{partnerId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyin.ourchat.entity.DialogRecord" >
    update zy_ourchat_dialog_record
    <set >
      <if test="sender != null" >
        sender = #{sender,jdbcType=BIGINT},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="partnerId != null" >
        partner_id = #{partnerId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyin.ourchat.entity.DialogRecord" >
    update zy_ourchat_dialog_record
    set sender = #{sender,jdbcType=BIGINT},
      receiver = #{receiver,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      partner_id = #{partnerId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      is_read = #{isRead,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_status = #{delStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>