<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->

    <include resource="com/zhiyin/logcnf/logback/base-conf-default.xml"/>
    <!--<include resource="com/zhiyin/logcnf/logback/base-default.xml"/>-->
    <!--<root level="INFO">-->
        <!--<appender-ref ref="STDOUT"/>-->
        <!--<appender-ref ref="all_info" level="INFO"/>-->
        <!--<appender-ref ref="all_error"/>-->
    <!--</root>-->
</configuration>
