<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->

    <include resource="com/zhiyin/logcnf/logback/base-conf-default.xml"/>
    <!--<include resource="com/zhiyin/logcnf/logback/base-default.xml"/>-->
    <!--<root level="INFO">-->
        <!--<appender-ref ref="STDOUT"/>-->
        <!--<appender-ref ref="all_info" level="INFO"/>-->
        <!--<appender-ref ref="all_error"/>-->
    <!--</root>-->


    <appender name="DEBUG_APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <File>${log.base}/debug.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/debug.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>${log.history.maxday}</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log.pattern}</Pattern>
        </layout>
    </appender>
    <logger name="com" level="DEBUG" additivity="true">
        <appender-ref ref="DEBUG_APPENDER" />
    </logger>

</configuration>
