<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

    <mapper namespace="com.zhiyin.dbs.module.address.mapper.AddressSubjectTraceMapper">

    <resultMap id="BaseResultMap" type="AddressSubjectTrace">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="subject_id" property="subjectId" jdbcType="VARCHAR"/>
        <result column="address_id" property="addressId" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="addr_degree" property="degree" jdbcType="INTEGER"/>
        <result column="subject_type" property="subjectType" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="frequency" property="frequency" jdbcType="INTEGER"/>
        <result column="del_status" property="delStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, subject_id, address_id, parent_id, degree, subject_type, add_time, update_time, frequency, del_status
    </sql>

    <!-- 根据Id查询 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from zhiyin_addr_subject_trace
        where id = #{id,jdbcType=BIGINT}
        and
        del_status=0
    </select>

    <!-- 根据用户查 -->
    <select id="selectTraceBySubject" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from zhiyin_addr_subject_trace
        where
        subject_id = #{subjectId}
        and
        subject_type = #{subjectType}
        AND del_status=0
    </select>

    <!-- 根据热点id查 -->
    <select id="selectTraceByAddressId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from zhiyin_addr_subject_trace
        where
        address_id = #{addressId}
        AND del_status=0
    </select>

    <!-- 根据用户和热点查 -->
    <select id="selectTraceBySubjectAddr" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from zhiyin_addr_subject_trace
        where
        subject_id = #{subjectId}
        and
        subject_type = #{subjectType}
        and
        address_id=#{addressId}
        and
        del_status=0
    </select>

    <!-- 根据用户删除 -->
    <update id="deleteBySubject" parameterType="java.util.Map">
        update zhiyin_addr_subject_trace
        set del_status=1
        where subject_id = #{subjectId}
        and subject_type = #{subjectType}
    </update>

    <!-- 根据主键删除 -->
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update zhiyin_addr_subject_trace
        set del_status=1
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 真删除 -->
    <delete id="deleteRealBySubject" parameterType="java.util.Map">
        delete from zhiyin_addr_subject_trace
        where
        subject_id = #{subjectId}
        and
        subject_type = #{subjectType}
    </delete>

    <!-- 添加 -->
    <insert id="insert" parameterType="AddressSubjectTrace">
        insert into zhiyin_addr_subject_trace (
        <include refid="Base_Column_List"/>
        )
        values (#{id,jdbcType=BIGINT}, #{subjectId,jdbcType=VARCHAR}, #{addressId,jdbcType=BIGINT},
        #{parentId,jdbcType=BIGINT}, #{degree,jdbcType=INTEGER}, #{subjectType,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{frequency,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER})
    </insert>

    <!-- 有选择的添加 -->
    <insert id="insertSelective" parameterType="AddressSubjectTrace">
        insert into zhiyin_addr_subject_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="addressId != null">
                address_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="degree != null">
                degree,
            </if>
            <if test="subjectType != null">
                subject_type,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="frequency != null">
                frequency,
            </if>
            <if test="delStatus != null">
                del_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=VARCHAR},
            </if>
            <if test="addressId != null">
                #{addressId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="degree != null">
                #{degree,jdbcType=INTEGER},
            </if>
            <if test="subjectType != null">
                #{subjectType,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="frequency != null">
                #{frequency,jdbcType=INTEGER},
            </if>
            <if test="delStatus != null">
                #{delStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 有选择的更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="AddressSubjectTrace">
        update zhiyin_addr_subject_trace
        <set>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=VARCHAR},
            </if>
            <if test="addressId != null">
                address_id = #{addressId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="degree != null">
                degree = #{degree,jdbcType=INTEGER},
            </if>
            <if test="subjectType != null">
                subject_type = #{subjectType,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="frequency != null">
                frequency = #{frequency,jdbcType=INTEGER},
            </if>
            <if test="delStatus != null">
                del_status = #{delStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="AddressSubjectTrace">
        update zhiyin_addr_subject_trace
        set subject_id = #{subjectId,jdbcType=VARCHAR},
        address_id = #{addressId,jdbcType=BIGINT},
        parent_id = #{parentId,jdbcType=BIGINT},
        degree = #{degree,jdbcType=INTEGER},
        subject_type = #{subjectType,jdbcType=INTEGER},
        add_time = #{addTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        frequency = #{frequency,jdbcType=INTEGER},
        del_status = #{delStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>