<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.dbs.module.address.mapper.CityInfoMapper" >
  <resultMap id="BaseResultMap" type="CityInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="index_no" property="indexNo" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, index_no, province_id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_addr_city
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectByProvince" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from zhiyin_addr_city
        where province_id = #{provinceId,jdbcType=BIGINT}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zhiyin_addr_city
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="CityInfo" >
    insert into zhiyin_addr_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="indexNo != null" >
        index_no,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="indexNo != null" >
        #{indexNo,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="CityInfo" >
    update zhiyin_addr_city
    <set >
      <if test="indexNo != null" >
        index_no = #{indexNo,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>