<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.dbs.module.address.mapper.CustomAddressLocationMapper" >

  <resultMap id="BaseResultMap" type="CustomAddressLocation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="address_id" property="addressId" jdbcType="BIGINT" />
    <result column="centerpoint_longitude" property="centerpointLongitude" jdbcType="DOUBLE" />
    <result column="centerpoint_latitude" property="centerpointLatitude" jdbcType="DOUBLE" />
    <result column="centerpoint_effect_radius" property="centerpointEffectRadius" jdbcType="DOUBLE" />
    <result column="centerpoint_real_radius" property="centerpointRealRadius" jdbcType="DOUBLE" />
    <result column="rectangle_x1" property="rectangleX1" jdbcType="DOUBLE" />
    <result column="rectangle_y1" property="rectangleY1" jdbcType="DOUBLE" />
    <result column="rectangle_x2" property="rectangleX2" jdbcType="DOUBLE" />
    <result column="rectangle_y2" property="rectangleY2" jdbcType="DOUBLE" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="add_user_id" property="addUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="centerpoint_coord" property="centerpointCoord" jdbcType="INTEGER" />
    <result column="rectangle_coord" property="rectangleCoord" jdbcType="INTEGER" />

    <result column="polygon_coord" property="polygonCoord" jdbcType="INTEGER" />
    <result column="polygon_points" property="polygonPoints" jdbcType="VARCHAR" />
    <result column="loc_type" property="locType" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, address_id, centerpoint_longitude, centerpoint_latitude, centerpoint_effect_radius,
    centerpoint_real_radius, rectangle_x1, rectangle_y1, rectangle_x2, rectangle_y2,
    add_time, add_user_id, update_time, update_user_id, del_status, centerpoint_coord,
    rectangle_coord,polygon_coord,polygon_points,loc_type
  </sql>

    <!-- 根据编号查询 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_addr_custom_address_location
    where id = #{id,jdbcType=BIGINT} and del_status=0
  </select>
  
  <!-- 根据地理位置编号查询 -->
    <select id="selectByAddressId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_addr_custom_address_location
    where address_id = #{addressId,jdbcType=BIGINT} and del_status=0
  </select>
  
    <!-- 根据地理位置编号查询 -->
    <select id="selectByAddressIdList" resultMap="BaseResultMap" parameterType="java.util.List" >
	    select 
	    <include refid="Base_Column_List" />
	    from zhiyin_addr_custom_address_location
	    where 
	    del_status=0
	    and address_id in 
    	<foreach collection="list" item="id" index="index"
            open="(" close=")" separator=",">
            #{id}
        </foreach>
  	</select>
  
  <!-- 获取全部可用的地理位置信息，用户构建Rtree -->
	<select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_addr_custom_address_location
    where del_status=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zhiyin_addr_custom_address_location
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteRealByAddrId" parameterType="java.lang.Long" >
    delete from zhiyin_addr_custom_address_location
    where address_id = #{address_id}
  </delete>


  <insert id="insertSelective" parameterType="CustomAddressLocation" >
    insert into zhiyin_addr_custom_address_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="centerpointLongitude != null" >
        centerpoint_longitude,
      </if>
      <if test="centerpointLatitude != null" >
        centerpoint_latitude,
      </if>
      <if test="centerpointEffectRadius != null" >
        centerpoint_effect_radius,
      </if>
      <if test="centerpointRealRadius != null" >
        centerpoint_real_radius,
      </if>
      <if test="rectangleX1 != null" >
        rectangle_x1,
      </if>
      <if test="rectangleY1 != null" >
        rectangle_y1,
      </if>
      <if test="rectangleX2 != null" >
        rectangle_x2,
      </if>
      <if test="rectangleY2 != null" >
        rectangle_y2,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="addUserId != null" >
        add_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="centerpointCoord != null" >
        centerpoint_coord,
      </if>
      <if test="rectangleCoord != null" >
        rectangle_coord,
      </if>


      <if test="polygonCoord != null" >
        polygon_coord,
      </if>
      <if test="polygonPoints != null" >
        polygon_points,
      </if>
      <if test="locType != null" >
        loc_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=BIGINT},
      </if>
      <if test="centerpointLongitude != null" >
        #{centerpointLongitude,jdbcType=DOUBLE},
      </if>
      <if test="centerpointLatitude != null" >
        #{centerpointLatitude,jdbcType=DOUBLE},
      </if>
      <if test="centerpointEffectRadius != null" >
        #{centerpointEffectRadius,jdbcType=DOUBLE},
      </if>
      <if test="centerpointRealRadius != null" >
        #{centerpointRealRadius,jdbcType=DOUBLE},
      </if>
      <if test="rectangleX1 != null" >
        #{rectangleX1,jdbcType=DOUBLE},
      </if>
      <if test="rectangleY1 != null" >
        #{rectangleY1,jdbcType=DOUBLE},
      </if>
      <if test="rectangleX2 != null" >
        #{rectangleX2,jdbcType=DOUBLE},
      </if>
      <if test="rectangleY2 != null" >
        #{rectangleY2,jdbcType=DOUBLE},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="centerpointCoord != null" >
        #{centerpointCoord,jdbcType=INTEGER},
      </if>
      <if test="rectangleCoord != null" >
        #{rectangleCoord,jdbcType=INTEGER},
      </if>

      <if test="polygonCoord != null" >
        #{polygonCoord,jdbcType=INTEGER},
      </if>
      <if test="polygonPoints != null" >
        #{polygonPoints,jdbcType=VARCHAR},
      </if>
      <if test="locType != null" >
        #{locType,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="CustomAddressLocation" >
    update zhiyin_addr_custom_address_location
    <set >
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=BIGINT},
      </if>
      <if test="centerpointLongitude != null" >
        centerpoint_longitude = #{centerpointLongitude,jdbcType=DOUBLE},
      </if>
      <if test="centerpointLatitude != null" >
        centerpoint_latitude = #{centerpointLatitude,jdbcType=DOUBLE},
      </if>
      <if test="centerpointEffectRadius != null" >
        centerpoint_effect_radius = #{centerpointEffectRadius,jdbcType=DOUBLE},
      </if>
      <if test="centerpointRealRadius != null" >
        centerpoint_real_radius = #{centerpointRealRadius,jdbcType=DOUBLE},
      </if>
      <if test="rectangleX1 != null" >
        rectangle_x1 = #{rectangleX1,jdbcType=DOUBLE},
      </if>
      <if test="rectangleY1 != null" >
        rectangle_y1 = #{rectangleY1,jdbcType=DOUBLE},
      </if>
      <if test="rectangleX2 != null" >
        rectangle_x2 = #{rectangleX2,jdbcType=DOUBLE},
      </if>
      <if test="rectangleY2 != null" >
        rectangle_y2 = #{rectangleY2,jdbcType=DOUBLE},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        add_user_id = #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="centerpointCoord != null" >
        centerpoint_coord = #{centerpointCoord,jdbcType=INTEGER},
      </if>
      <if test="rectangleCoord != null" >
        rectangle_coord = #{rectangleCoord,jdbcType=INTEGER},
      </if>

      <if test="polygonCoord != null" >
        polygon_coord = #{polygonCoord,jdbcType=INTEGER},
      </if>
      <if test="polygonPoints != null" >
        polygon_points = #{polygonPoints,jdbcType=VARCHAR},
      </if>
      <if test="locType != null" >
        loc_type = #{locType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>