<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyin.dbs.module.address.mapper.SubjectRouteTrackMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyin.dbs.module.address.entity.SubjectRouteTrack" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="subject_id" property="subjectId" jdbcType="VARCHAR" />
    <result column="subject_type" property="subjectType" jdbcType="INTEGER" />
    <result column="loc_lon" property="locLon" jdbcType="DOUBLE" />
    <result column="loc_lat" property="locLat" jdbcType="DOUBLE" />
    <result column="coord" property="coord" jdbcType="INTEGER" />
    <result column="track_time" property="trackTime" jdbcType="VARCHAR" />
    <result column="track_date" property="trackDate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject_id, subject_type, loc_lon, loc_lat, coord, track_time, track_date, create_time, 
    update_time, del_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zhiyin_addr_subject_route_track
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectBySubjectTrackDate" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from zhiyin_addr_subject_route_track
    where subject_id = #{subjectId} and subject_type = #{subjectType} and track_date = #{trackDate} and del_status = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zhiyin_addr_subject_route_track
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhiyin.dbs.module.address.entity.SubjectRouteTrack" >
    insert into zhiyin_addr_subject_route_track (id, subject_id, subject_type, 
      loc_lon, loc_lat, coord, 
      track_time, track_date, create_time, 
      update_time, del_status)
    values (#{id,jdbcType=BIGINT}, #{subjectId,jdbcType=VARCHAR}, #{subjectType,jdbcType=INTEGER}, 
      #{locLon,jdbcType=DOUBLE}, #{locLat,jdbcType=DOUBLE}, #{coord,jdbcType=INTEGER}, 
      #{trackTime,jdbcType=VARCHAR}, #{trackDate,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyin.dbs.module.address.entity.SubjectRouteTrack" >
    insert into zhiyin_addr_subject_route_track
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
      <if test="locLon != null" >
        loc_lon,
      </if>
      <if test="locLat != null" >
        loc_lat,
      </if>
      <if test="coord != null" >
        coord,
      </if>
      <if test="trackTime != null" >
        track_time,
      </if>
      <if test="trackDate != null" >
        track_date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=INTEGER},
      </if>
      <if test="locLon != null" >
        #{locLon,jdbcType=DOUBLE},
      </if>
      <if test="locLat != null" >
        #{locLat,jdbcType=DOUBLE},
      </if>
      <if test="coord != null" >
        #{coord,jdbcType=INTEGER},
      </if>
      <if test="trackTime != null" >
        #{trackTime,jdbcType=VARCHAR},
      </if>
      <if test="trackDate != null" >
        #{trackDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyin.dbs.module.address.entity.SubjectRouteTrack" >
    update zhiyin_addr_subject_route_track
    <set >
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=INTEGER},
      </if>
      <if test="locLon != null" >
        loc_lon = #{locLon,jdbcType=DOUBLE},
      </if>
      <if test="locLat != null" >
        loc_lat = #{locLat,jdbcType=DOUBLE},
      </if>
      <if test="coord != null" >
        coord = #{coord,jdbcType=INTEGER},
      </if>
      <if test="trackTime != null" >
        track_time = #{trackTime,jdbcType=VARCHAR},
      </if>
      <if test="trackDate != null" >
        track_date = #{trackDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyin.dbs.module.address.entity.SubjectRouteTrack" >
    update zhiyin_addr_subject_route_track
    set subject_id = #{subjectId,jdbcType=VARCHAR},
      subject_type = #{subjectType,jdbcType=INTEGER},
      loc_lon = #{locLon,jdbcType=DOUBLE},
      loc_lat = #{locLat,jdbcType=DOUBLE},
      coord = #{coord,jdbcType=INTEGER},
      track_time = #{trackTime,jdbcType=VARCHAR},
      track_date = #{trackDate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_status = #{delStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>